# Modules for Import

In [1]:
import pandas as pd

# !pip install pandasai
# !pip install langchain_community

import os
from pandasai import Agent
from pandasai import SmartDataframe
from pandasai.llm import OpenAI
from pandasai.helpers.openai_info import get_openai_callback
import logging
import openai

from langchain_community.chat_models import ChatOpenAI

# Create a custom logging configuration
logging.basicConfig(level=logging.CRITICAL)

Requirement already satisfied: pandasai in /opt/anaconda3/lib/python3.12/site-packages (2.4.2)
Requirement already satisfied: astor<0.9.0,>=0.8.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandasai) (0.8.1)
Requirement already satisfied: duckdb<2.0.0,>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandasai) (1.2.2)
Requirement already satisfied: faker<20.0.0,>=19.12.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandasai) (19.13.0)
Requirement already satisfied: jinja2<4.0.0,>=3.1.3 in /opt/anaconda3/lib/python3.12/site-packages (from pandasai) (3.1.4)
Requirement already satisfied: matplotlib<4.0.0,>=3.7.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandasai) (3.9.2)
Requirement already satisfied: openai<2 in /opt/anaconda3/lib/python3.12/site-packages (from pandasai) (1.75.0)
Requirement already satisfied: pandas==1.5.3 in /opt/anaconda3/lib/python3.12/site-packages (from pandasai) (1.5.3)
Requirement already satisfied: pillow<11.0.0,>=10.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandasai) (10.4.0)
Requirement already satisfied: pydantic<3,>=1 in /opt/anaconda3/lib/python3.12/site-packages (from pandasai) (2.11.3)
Requirement already satisfied: python-dotenv<2.0.0,>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandasai) (1.1.0)
Requirement already satisfied: requests<3.0.0,>=2.31.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandasai) (2.32.3)
Requirement already satisfied: scipy<2.0.0,>=1.9.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandasai) (1.13.1)
Requirement already satisfied: sqlalchemy<3,>=1.4 in /opt/anaconda3/lib/python3.12/site-packages (from pandasai) (2.0.34)
Requirement already satisfied: sqlglot<26.0.0,>=25.0.3 in /opt/anaconda3/lib/python3.12/site-packages (from sqlglot[rs]<26.0.0,>=25.0.3->pandasai) (25.34.1)
Requirement already satisfied: torch==2.2.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandasai) (2.2.0)
Requirement already satisfied: numpy>=1.21.0 in /opt/anaconda3/lib/python3.12/site-packages (from pandas==1.5.3->pandasai) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas==1.5.3->pandasai) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.12/site-packages (from pandas==1.5.3->pandasai) (2024.1)
Requirement already satisfied: filelock in /opt/anaconda3/lib/python3.12/site-packages (from torch==2.2.0->pandasai) (3.13.1)
Requirement already satisfied: typing-extensions>=4.8.0 in /opt/anaconda3/lib/python3.12/site-packages (from torch==2.2.0->pandasai) (4.13.2)
Requirement already satisfied: sympy in /opt/anaconda3/lib/python3.12/site-packages (from torch==2.2.0->pandasai) (1.13.2)
Requirement already satisfied: networkx in /opt/anaconda3/lib/python3.12/site-packages (from torch==2.2.0->pandasai) (3.3)
Requirement already satisfied: fsspec in /opt/anaconda3/lib/python3.12/site-packages (from torch==2.2.0->pandasai) (2024.6.1)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.12/site-packages (from jinja2<4.0.0,>=3.1.3->pandasai) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (24.1)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.12/site-packages (from matplotlib<4.0.0,>=3.7.1->pandasai) (3.1.2)
Requirement already satisfied: anyio<5,>=3.5.0 in /opt/anaconda3/lib/python3.12/site-packages (from openai<2->pandasai) (4.2.0)
Requirement already satisfied: distro<2,>=1.7.0 in /opt/anaconda3/lib/python3.12/site-packages (from openai<2->pandasai) (1.9.0)
Requirement already satisfied: httpx<1,>=0.23.0 in /opt/anaconda3/lib/python3.12/site-packages (from openai<2->pandasai) (0.27.0)
Requirement already satisfied: jiter<1,>=0.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from openai<2->pandasai) (0.9.0)
Requirement already satisfied: sniffio in /opt/anaconda3/lib/python3.12/site-packages (from openai<2->pandasai) (1.3.0)
Requirement already satisfied: tqdm>4 in /opt/anaconda3/lib/python3.12/site-packages (from openai<2->pandasai) (4.66.5)
Requirement already satisfied: annotated-types>=0.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from pydantic<3,>=1->pandasai) (0.6.0)
Requirement already satisfied: pydantic-core==2.33.1 in /opt/anaconda3/lib/python3.12/site-packages (from pydantic<3,>=1->pandasai) (2.33.1)
Requirement already satisfied: typing-inspection>=0.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from pydantic<3,>=1->pandasai) (0.4.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.31.0->pandasai) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.31.0->pandasai) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.31.0->pandasai) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3.0.0,>=2.31.0->pandasai) (2025.1.31)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from sqlalchemy<3,>=1.4->pandasai) (3.0.1)
Requirement already satisfied: sqlglotrs==0.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from sqlglot[rs]<26.0.0,>=25.0.3->pandasai) (0.3.0)
Requirement already satisfied: httpcore==1.* in /opt/anaconda3/lib/python3.12/site-packages (from httpx<1,>=0.23.0->openai<2->pandasai) (1.0.2)
Requirement already satisfied: h11<0.15,>=0.13 in /opt/anaconda3/lib/python3.12/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->openai<2->pandasai) (0.14.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.1->pandas==1.5.3->pandasai) (1.16.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from sympy->torch==2.2.0->pandasai) (1.3.0)
Requirement already satisfied: langchain_community in /opt/anaconda3/lib/python3.12/site-packages (0.3.21)
Requirement already satisfied: langchain-core<1.0.0,>=0.3.51 in /opt/anaconda3/lib/python3.12/site-packages (from langchain_community) (0.3.54)
Requirement already satisfied: langchain<1.0.0,>=0.3.23 in /opt/anaconda3/lib/python3.12/site-packages (from langchain_community) (0.3.23)
Requirement already satisfied: SQLAlchemy<3,>=1.4 in /opt/anaconda3/lib/python3.12/site-packages (from langchain_community) (2.0.34)
Requirement already satisfied: requests<3,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from langchain_community) (2.32.3)
Requirement already satisfied: PyYAML>=5.3 in /opt/anaconda3/lib/python3.12/site-packages (from langchain_community) (6.0.1)
Requirement already satisfied: aiohttp<4.0.0,>=3.8.3 in /opt/anaconda3/lib/python3.12/site-packages (from langchain_community) (3.10.5)
Requirement already satisfied: tenacity!=8.4.0,<10,>=8.1.0 in /opt/anaconda3/lib/python3.12/site-packages (from langchain_community) (8.2.3)
Requirement already satisfied: dataclasses-json<0.7,>=0.5.7 in /opt/anaconda3/lib/python3.12/site-packages (from langchain_community) (0.6.7)
Requirement already satisfied: pydantic-settings<3.0.0,>=2.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from langchain_community) (2.6.1)
Requirement already satisfied: langsmith<0.4,>=0.1.125 in /opt/anaconda3/lib/python3.12/site-packages (from langchain_community) (0.3.32)
Requirement already satisfied: httpx-sse<1.0.0,>=0.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from langchain_community) (0.4.0)
Requirement already satisfied: numpy<3,>=1.26.2 in /opt/anaconda3/lib/python3.12/site-packages (from langchain_community) (1.26.4)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (2.4.0)
Requirement already satisfied: aiosignal>=1.1.2 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.2.0)
Requirement already satisfied: attrs>=17.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (23.1.0)
Requirement already satisfied: frozenlist>=1.1.1 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.4.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (6.0.4)
Requirement already satisfied: yarl<2.0,>=1.0 in /opt/anaconda3/lib/python3.12/site-packages (from aiohttp<4.0.0,>=3.8.3->langchain_community) (1.11.0)
Requirement already satisfied: marshmallow<4.0.0,>=3.18.0 in /opt/anaconda3/lib/python3.12/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (3.26.1)
Requirement already satisfied: typing-inspect<1,>=0.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from dataclasses-json<0.7,>=0.5.7->langchain_community) (0.9.0)
Requirement already satisfied: langchain-text-splitters<1.0.0,>=0.3.8 in /opt/anaconda3/lib/python3.12/site-packages (from langchain<1.0.0,>=0.3.23->langchain_community) (0.3.8)
Requirement already satisfied: pydantic<3.0.0,>=2.7.4 in /opt/anaconda3/lib/python3.12/site-packages (from langchain<1.0.0,>=0.3.23->langchain_community) (2.11.3)
Requirement already satisfied: jsonpatch<2.0,>=1.33 in /opt/anaconda3/lib/python3.12/site-packages (from langchain-core<1.0.0,>=0.3.51->langchain_community) (1.33)
Requirement already satisfied: packaging<25,>=23.2 in /opt/anaconda3/lib/python3.12/site-packages (from langchain-core<1.0.0,>=0.3.51->langchain_community) (24.1)
Requirement already satisfied: typing-extensions>=4.7 in /opt/anaconda3/lib/python3.12/site-packages (from langchain-core<1.0.0,>=0.3.51->langchain_community) (4.13.2)
Requirement already satisfied: httpx<1,>=0.23.0 in /opt/anaconda3/lib/python3.12/site-packages (from langsmith<0.4,>=0.1.125->langchain_community) (0.27.0)
Requirement already satisfied: orjson<4.0.0,>=3.9.14 in /opt/anaconda3/lib/python3.12/site-packages (from langsmith<0.4,>=0.1.125->langchain_community) (3.10.16)
Requirement already satisfied: requests-toolbelt<2.0.0,>=1.0.0 in /opt/anaconda3/lib/python3.12/site-packages (from langsmith<0.4,>=0.1.125->langchain_community) (1.0.0)
Requirement already satisfied: zstandard<0.24.0,>=0.23.0 in /opt/anaconda3/lib/python3.12/site-packages (from langsmith<0.4,>=0.1.125->langchain_community) (0.23.0)
Requirement already satisfied: python-dotenv>=0.21.0 in /opt/anaconda3/lib/python3.12/site-packages (from pydantic-settings<3.0.0,>=2.4.0->langchain_community) (1.1.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2->langchain_community) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2->langchain_community) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2->langchain_community) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from requests<3,>=2->langchain_community) (2025.1.31)
Requirement already satisfied: greenlet!=0.4.17 in /opt/anaconda3/lib/python3.12/site-packages (from SQLAlchemy<3,>=1.4->langchain_community) (3.0.1)
Requirement already satisfied: anyio in /opt/anaconda3/lib/python3.12/site-packages (from httpx<1,>=0.23.0->langsmith<0.4,>=0.1.125->langchain_community) (4.2.0)
Requirement already satisfied: httpcore==1.* in /opt/anaconda3/lib/python3.12/site-packages (from httpx<1,>=0.23.0->langsmith<0.4,>=0.1.125->langchain_community) (1.0.2)
Requirement already satisfied: sniffio in /opt/anaconda3/lib/python3.12/site-packages (from httpx<1,>=0.23.0->langsmith<0.4,>=0.1.125->langchain_community) (1.3.0)
Requirement already satisfied: h11<0.15,>=0.13 in /opt/anaconda3/lib/python3.12/site-packages (from httpcore==1.*->httpx<1,>=0.23.0->langsmith<0.4,>=0.1.125->langchain_community) (0.14.0)
Requirement already satisfied: jsonpointer>=1.9 in /opt/anaconda3/lib/python3.12/site-packages (from jsonpatch<2.0,>=1.33->langchain-core<1.0.0,>=0.3.51->langchain_community) (2.1)
Requirement already satisfied: annotated-types>=0.6.0 in /opt/anaconda3/lib/python3.12/site-packages (from pydantic<3.0.0,>=2.7.4->langchain<1.0.0,>=0.3.23->langchain_community) (0.6.0)
Requirement already satisfied: pydantic-core==2.33.1 in /opt/anaconda3/lib/python3.12/site-packages (from pydantic<3.0.0,>=2.7.4->langchain<1.0.0,>=0.3.23->langchain_community) (2.33.1)
Requirement already satisfied: typing-inspection>=0.4.0 in /opt/anaconda3/lib/python3.12/site-packages (from pydantic<3.0.0,>=2.7.4->langchain<1.0.0,>=0.3.23->langchain_community) (0.4.0)
Requirement already satisfied: mypy-extensions>=0.3.0 in /opt/anaconda3/lib/python3.12/site-packages (from typing-inspect<1,>=0.4.0->dataclasses-json<0.7,>=0.5.7->langchain_community) (1.0.0)

# Read NBA Stats Data CSV from disk

In [2]:
# Load your data into a pandas DataFrame
df = pd.read_csv('nba-stats-data.csv', low_memory=False)
# set season (year) as main DF index to allow for time series analysis of player data
df = df.reset_index().set_index('season')
df.index = pd.to_datetime(df.index, format='%Y').to_period('Y')
df = df.sort_index(axis=0)
df.head()

,index,assists,blocks,comment,defReb,fga,fgm,fgp,fta,ftm,...,DOB,age,feet,meters,position,active,jersey_number,years_pro,rookie_year,pounds
season,,,,,,,,,,,,,,,,,,,,,
2015,34,0.0,1.0,NaN,1.0,3.0,2.0,66.7,2.0,1.0,...,1991-07-01,33.0,"6""10",2.08,F-C,True,33.0,8.0,2013.0,240.0
2015,35,0.0,1.0,NaN,1.0,3.0,2.0,66.7,2.0,1.0,...,1991-07-01,33.0,"6""10",2.08,F-C,True,33.0,8.0,2013.0,240.0
2015,36,2.0,0.0,NaN,7.0,7.0,3.0,42.9,2.0,2.0,...,1988-07-16,36.0,"6""7",2.01,F,True,1.0,9.0,2012.0,237.0
2015,37,0.0,0.0,NaN,3.0,4.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2015,38,1.0,1.0,NaN,5.0,5.0,3.0,60.0,6.0,2.0,...,1992-03-22,33.0,"7""3",2.21,C,False,40.0,1.0,2015.0,265.0

# Analysis: Speak to the Data!

In [3]:
df.columns

Index(['index', 'assists', 'blocks', 'comment', 'defReb', 'fga', 'fgm', 'fgp',
       'fta', 'ftm', 'ftp', 'min', 'offReb', 'pFouls', 'plusMinus', 'points',
       'pos', 'steals', 'totReb', 'tpa', 'tpm', 'tpp', 'turnovers',
       'player_id', 'player_name', 'team_code', 'team_name', 'team_id',
       'game_id', 'affiliation', 'college', 'firstname', 'id', 'lastname',
       'country', 'DOB', 'age', 'feet', 'meters', 'position', 'active',
       'jersey_number', 'years_pro', 'rookie_year', 'pounds'],
      dtype='object')

## Set Open AI API Key

In [4]:
os.environ["OPENAI_API_KEY"] = "****"

llm = OpenAI(openai_api_key=openai.api_key)
openai = ChatOpenAI(model_name="gpt-3.5-turbo", openai_api_key=openai.api_key)

/var/folders/90/vm59v1w170n_62vbrwvd6m100000gn/T/ipykernel_15592/1763149251.py:5: LangChainDeprecationWarning: The class `ChatOpenAI` was deprecated in LangChain 0.0.10 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-openai package and should be used instead. To use it run `pip install -U :class:`~langchain-openai` and import as `from :class:`~langchain_openai import ChatOpenAI``.
  openai = ChatOpenAI(model_name="gpt-3.5-turbo", openai_api_key=openai.api_key)

# Set Large Language Model & other DF confirgurations

In [5]:
df_nba = SmartDataframe(df, config={"llm": llm, "conversational": True, "verbose": True})

# Chat with (query data)

In [6]:
df_nba.chat("Which are the top 10 player_names by assists?")

{'type': 'dataframe', 'value':               player_name  assists
131697        Rajon Rondo     25.0
166394  Russell Westbrook     24.0
166395  Russell Westbrook     24.0
243205  Russell Westbrook     24.0
243206  Russell Westbrook     24.0
368110  Tyrese Haliburton     23.0
75592   Russell Westbrook     22.0
75593   Russell Westbrook     22.0
381902         Trae Young     22.0
105957  Russell Westbrook     21.0}

              player_name  assists
131697        Rajon Rondo     25.0
166394  Russell Westbrook     24.0
166395  Russell Westbrook     24.0
243205  Russell Westbrook     24.0
243206  Russell Westbrook     24.0
368110  Tyrese Haliburton     23.0
75592   Russell Westbrook     22.0
75593   Russell Westbrook     22.0
381902         Trae Young     22.0
105957  Russell Westbrook     21.0

In [7]:
df_nba.chat("Which are the top 10 player_names by points?")

                  player_name  points
360994            Luka Doncic    73.0
311625       Donovan Mitchell    71.0
326807         Damian Lillard    71.0
77083            Devin Booker    70.0
359404            Joel Embiid    70.0
370068  Giannis Antetokounmpo    64.0
251859          Stephen Curry    62.0
355712           Devin Booker    62.0
378430     Karl-Anthony Towns    62.0
138392           James Harden    61.0

                  player_name  points
360994            Luka Doncic    73.0
311625       Donovan Mitchell    71.0
326807         Damian Lillard    71.0
77083            Devin Booker    70.0
359404            Joel Embiid    70.0
370068  Giannis Antetokounmpo    64.0
251859          Stephen Curry    62.0
355712           Devin Booker    62.0
378430     Karl-Anthony Towns    62.0
138392           James Harden    61.0

In [8]:
df_nba.chat("Which are the top 5 player_names group by points?")

{'type': 'dataframe', 'value':             player_name   points
1167       Kevin Durant  35170.0
1669  Russell Westbrook  33398.0
1220       Kyrie Irving  29574.0
78       Andre Drummond  27846.0
1497     Nikola Vucevic  27172.0}

            player_name   points
1167       Kevin Durant  35170.0
1669  Russell Westbrook  33398.0
1220       Kyrie Irving  29574.0
78       Andre Drummond  27846.0
1497     Nikola Vucevic  27172.0

In [9]:
df_nba.chat("Which are the top 5 player_names group by blocks?")

      player_name  blocks
0    JaVale McGee  2648.0
1  Andre Drummond  2478.0
2   Mason Plumlee  1866.0
3    Kevin Durant  1640.0
4     Rudy Gobert  1586.0

In [10]:
df_nba.chat("Which are the top 5 player_names group by assists?")

            player_name  assists
1669  Russell Westbrook  13532.0
1214         Kyle Lowry   9276.0
596        Eric Bledsoe   7404.0
846        James Harden   6952.0
1220       Kyrie Irving   6658.0

            player_name  assists
1669  Russell Westbrook  13532.0
1214         Kyle Lowry   9276.0
596        Eric Bledsoe   7404.0
846        James Harden   6952.0
1220       Kyrie Irving   6658.0

In [11]:
df_nba.chat("Which are the top 5 distinct player_names by pounds?")

             player_name  pounds
24268       Jusuf Nurkic   290.0
40609   Boban Marjanovic   290.0
24267       Nikola Jokic   284.0
216367   Zion Williamson   284.0
25525        Joel Embiid   280.0

In [12]:
df_nba.chat("Which are the top 5 distinct player_names by meters?")

               player_name  meters
4              Edy Tavares    2.21
16461   Kristaps Porzingis    2.21
40609     Boban Marjanovic    2.21
206575             Bol Bol    2.18
25828          Rudy Gobert    2.16